<div class="animate-show-hide" >
    <div class="subcollection-view">
        <!-- start: EMAIL LIST -->
        <div class="col durable-main " ng-controller="DurableNormalCtrl">
            <div class="durablewrap-list scrollbar-macosx" data-jquery-scrollbar="jqueryScrollbarOptions">
                <form class="gf" id="collection_form" name="collection_form" novalidate="">
                    <div class="col-md-12">
                        <div class="collection-left margin-top-25">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-white no-border no-radius">
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="focusguard" id="focusguard-1" tabindex="1">
                                            </div>
                                            <fieldset>
                                                <legend>
                                                    หน่วยงาน
                                                </legend>
                                                <div class="gf-row-6 no-padding gf-row-border">
                                                    <div class="gf-col-6">
                                                        <div class="form-group-minism" data-column="1">
                                                            <input autofocus="" class="form-control column_filterspec" id="col1_filter" placeholder="หน่วยงาน" type="text">
                                                            </input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>
                                                    รายการค้นหา
                                                </legend>
                                                <div class="gf-row-6 no-padding gf-row-border">
                                                    <div class="gf-col-2 ">
                                                        <span class="badge badge-info">
                                                            หมายเลข
                                                        </span>
                                                    </div>
                                                    <div class="gf-col-4">
                                                        <div class="form-group-minism" data-column="1">
                                                            <input autofocus="" class="form-control column_filterspec" id="col1_filter" placeholder="หมายเลขครุภัณฑ์" type="text">
                                                            </input>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-6 no-padding gf-row-border">
                                                    <div class="gf-col-2 ">
                                                        <span class="badge badge-info">
                                                            รายการ
                                                        </span>
                                                    </div>
                                                    <div class="gf-col-4">
                                                        <div class="form-group-minism" data-column="2">
                                                            <input autofocus="" class="form-control column_filterspec" id="col2_filter" placeholder="ชื่อครุภัณฑ์" type="text">
                                                            </input>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-6 no-padding gf-row-border">
                                                    <div class="gf-col-2 ">
                                                        <span class="badge badge-info">
                                                            ผู้ใช้
                                                        </span>
                                                    </div>
                                                    <div class="gf-col-4">
                                                        <div class="form-group-minism" data-column="3">
                                                            <input autofocus="" class="form-control column_filterspec" id="col3_filter" placeholder="ชื่อผู้ใช้" type="text">
                                                            </input>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-6 no-padding gf-row-border">
                                                    <div class="gf-col-2 ">
                                                        <span class="badge badge-info">
                                                            สถานที่
                                                        </span>
                                                    </div>
                                                    <div class="gf-col-4">
                                                        <div class="form-group-minism" data-column="6">
                                                            <input autofocus="" class="form-control column_filterspec" id="col6_filter" placeholder="สถานที่" type="text">
                                                            </input>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-6 no-padding gf-row-border">
                                                    <div class="gf-col-2 ">
                                                        <span class="badge badge-info">
                                                            สถานะ
                                                        </span>
                                                    </div>
                                                    <div class="gf-col-4">
                                                        <div class="form-group-minism" data-column="8">
                                                            <input autofocus="" class="form-control column_filterspec" id="col8_filter" placeholder="สถานะ" type="text">
                                                            </input>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-6 no-padding gf-row-border">
                                                    <div class="gf-col-2 ">
                                                        <span class="badge badge-info">
                                                            หน่วยงาน
                                                        </span>
                                                    </div>
                                                    <div class="gf-col-4">
                                                        <div class="form-group-minism" data-column="10">
                                                            <input autofocus="" class="form-control column_filterspec" id="col10_filter" placeholder="หน่วยงาน" type="text">
                                                            </input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-12">
                                                    <div class="panel panel-transparent margin-top-20">
                                                        <div class="space12 pull-left">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary btn-xs btn-o active" href="javascript:;" ng-click="changetable('monthreport');">
                                                                    <i class="fa fa-save">
                                                                    </i>
                                                                    SEARCH
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="email-reader scrollbar-macosx" data-jquery-scrollbar="jqueryScrollbarOptions">
            <div class="panel panel-white no-radius no-margin no-border">
                <div class="panel-body">
                    <table cellspacing="0" class="table table-stylish table-hover" id="DurableNormalTbl" width="100%">
                        <thead>
                            <tr class="uppercase label-default ">
                                <th>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        หมายเลขครุภัณฑ์
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        รายการครุภัณฑ์
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        ผู้ใช้
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        ผู้รับผิดชอบ
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        ห้อง
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        สถานที่
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        รูป
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        สถานะ
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        หมายเหตุ
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        durable id
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        หน่วยงาน
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        Place id
                                    </span>
                                </th>
                                <th>
                                    <span class="label-change ">
                                        Owner id
                                    </span>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>