<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.forms.ELEMENTS">
        FORM ELEMENTS
    </h4>
    <div class="pull-right" ncy-breadcrumb="">
    </div>
</div>
<!-- end: BREADCRUMB -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div ng-controller="PrintLabelSummaryCtrl">
                        <!-- start: SECOND SECTION -->
                        <div class="container-fluid container-fullw">
                            <div class="row no-margin">
                                <div class="col-xs-12 no-padding partition-azure no-border">
                                    <div class="row no-margin">
                                        <div class="col-md-8 col-lg-9 no-padding">
                                            <div class="panel panel-white no-radius no-margin">
                                                <div class="panel-heading border-light padding-30">
                                                    <div class="row">
                                                        <div class="panel-body">
                                                            <!-- end: EMAIL READER -->
                                                            <div class="">
                                                                <ul class="nav nav-tabs">
                                                                    <li ng-class="{ active: isSet(1) }">
                                                                        <a ui-sref="app.form.gridform_printsummary.specimen">
                                                                            <span class="round-tabs four">
                                                                                <i class="fa fa-eye">
                                                                                </i>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li ng-class="{ active: isSet(2) }">
                                                                        <a ui-sref="app.form.gridform_printsummary.collection">
                                                                            <span class="round-tabs four">
                                                                                <i class="fa fa-upload">
                                                                                </i>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li ng-class="{ active: isSet(3) }">
                                                                        <a aria-expanded="false" data-toggle="tab" ng-click="setTab(3)" title="Event">
                                                                            <span class="round-tabs four">
                                                                                <i class="fa fa-archive">
                                                                                </i>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4 col-xs-5">
                                                            <span class="input-icon">
                                                                <input class="form-control radius-10" id="form-field-14" placeholder="Search posts..." type="text">
                                                                    <i class="ti-search">
                                                                    </i>
                                                                </input>
                                                            </span>
                                                        </div>
                                                        <div class="col-lg-8 col-xs-7 text-right">
                                                            <div class="btn-group margin-top-5" ng-init="selected='Newest'" uib-dropdown="">
                                                                <button class="btn btn-azure btn-sm" id="split-button" type="button">
                                                                    Sort by:
                                                                    <span class="text-bold">
                                                                        {{selected}}
                                                                    </span>
                                                                </button>
                                                                <button class="btn btn-azure btn-sm" type="button" uib-dropdown-toggle="">
                                                                    <span class="caret">
                                                                    </span>
                                                                    <span class="sr-only">
                                                                        Split button!
                                                                    </span>
                                                                </button>
                                                                <ul aria-labelledby="split-button" role="menu" uib-dropdown-menu="">
                                                                    <li role="menuitem">
                                                                        <a ui-sref="app.form.gridform_printsummary.specimen">
                                                                            Specimens Label
                                                                        </a>
                                                                    </li>
                                                                    <li role="menuitem">
                                                                        <a ui-sref="app.form.gridform_printsummary.collection">
                                                                            Collection Label
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a ui-sref="app.form.gridform_printsummary">
                                                                            Orginal page Label
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-xs-7 text-right">
                                                            <ul class="nav nav-tabs" role="tablist">
                                                                <li>
                                                                    <a ui-sref="app.form.gridform_printsummary.specimen">
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a ui-sref="app.form.gridform_printsummary.collection">
                                                                        Collection Label
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div ui-view="firstview">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: SECOND SECTION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>