<table cellspacing="0" class="table compact table-striped table-condensed nowrap" id="SpecimensListPrintTbl" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                            </th>
                                                            <th>
                                                                Specimen Number
                                                            </th>
                                                            <th>
                                                                Order
                                                            </th>
                                                            <th>
                                                                Family
                                                            </th>
                                                            <th>
                                                                Genus
                                                            </th>
                                                            <th>
                                                                Species
                                                            </th>
                                                            <th>
                                                                coll_code
                                                            </th>
                                                            <th>
                                                                coll_year
                                                            </th>
                                                            <th>
                                                                coll_number
                                                            </th>
                                                            <th>
                                                                specimen_number
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>