<!-- start: MAIN NAVIGATION MENU -->
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home">
                    </i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.MAIN">
                        Dashboard
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<div class="navbar-title">
    <span>
        DATA MANAGEMENT
    </span>
</div>
<ul class="main-navigation-menu">
    <li ng-class="{'active open':$state.includes('app.collection')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-th">
                    </i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.collection.MAIN">
                        Collection
                    </span>
                    <i class="icon-arrow">
                    </i>
                </div>
            </div>
        </a>
        <ul class="sub-menu first">
            <li ui-sref-active="active">
                <a ui-sref="app.collection.collectionreport">
                    <span class="title" translate="sidebar.nav.collection.COLLECTIONINFO">
                        Collection Information
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.collection.collectionTbl">
                    <span class="title" translate="sidebar.nav.collection.COLECTION">
                        Collection Table
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.collection.collectortbl">
                    <span class="title" translate="sidebar.nav.collection.COLLECTOR">
                        Collector Table
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.collection.methodTbl">
                    <span class="title" translate="sidebar.nav.collection.METHOD">
                        Method
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.collection.donatortbl">
                    <span class="title" translate="sidebar.nav.collection.DONATOR">
                        Donator
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.collection.locationtbl">
                    <span class="title" translate="sidebar.nav.collection.LOCATION">
                        Location
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('app.specimens')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-bug">
                    </i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.specimens.MAIN">
                        Specimens
                    </span>
                    <i class="icon-arrow">
                    </i>
                </div>
            </div>
        </a>
        <ul class="sub-menu second">
            <li ui-sref-active="active">
                <a ui-sref="app.specimens.specimensoverview">
                    <span class="title" translate="sidebar.nav.specimens.SPECIMENSINFO">
                        Specimens Report
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.specimens.specimensTbl">
                    <span class="title" translate="sidebar.nav.specimens.SPECIMENS">
                        Specimens table
                    </span>
                </a>
            </li>
            <li ng-class="{'active open':$state.includes('app.specimens.managespec')}">
                <a href="javascript:void(0)">
                    <span translate="sidebar.nav.specimens.SPECMANAGEMENT.MAIN">
                        Manage Spec
                    </span>
                    <i class="icon-arrow">
                    </i>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active2">
                        <a class="disabled" ui-sref="app.specimens.managespec.specimens_report">
                            <div class="item-content">
                                <div class="item-media no-padding">
                                    <i class="fa fa-arrow-circle-right margin-right-5">
                                    </i>
                                </div>
                                <div class="item-inner no-padding">
                                    <span translate="sidebar.nav.specimens.SPECMANAGEMENT.STEP1">
                                        Count Specimens
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li ui-sref-active="active2">
                        <a class="disabled" ui-sref="app.specimens.managespec.labelmanagement">
                            <div class="item-content">
                                <div class="item-media no-padding">
                                    <i class="fa fa-arrow-circle-right margin-right-5">
                                    </i>
                                </div>
                                <div class="item-inner no-padding">
                                    <span class="title" translate="sidebar.nav.specimens.SPECMANAGEMENT.STEP2">
                                        Produce Label
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li ui-sref-active="active2">
                        <a class="disabled" ui-sref="app.specimens.managespec.identify">
                            <div class="item-content">
                                <div class="item-media no-padding">
                                    <i class="fa fa-arrow-circle-right margin-right-5">
                                    </i>
                                </div>
                                <div class="item-inner no-padding">
                                    <span class="title" translate="sidebar.nav.specimens.SPECMANAGEMENT.STEP3">
                                        Indentify
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="disabled" ui-sref-active="active2">
                        <a>
                            <div class="item-content">
                                <div class="item-media no-padding">
                                    <i class="fa fa-arrow-circle-right margin-right-5">
                                    </i>
                                </div>
                                <div class="item-inner no-padding">
                                    <span class="title" translate="sidebar.nav.specimens.SPECMANAGEMENT.STEP4">
                                        Tracking
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.durable.durable_main">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-desktop">
                    </i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.durableinfo.MAIN">
                        Durable Information
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span translate="sidebar.heading.MUSEUM">
        MUSEUM
    </span>
</div>
<ul class="foldersA">
    <li ui-sref-active="active">
        <a ui-sref="app.museuminfo">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-building-o">
                    </i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.museuminfo.MAIN">
                        Museum Information
                    </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.container">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-suitcase">
                    </i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.museum.CONMANAGE">
                        Maps
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- start: FEATURES -->
<div class="navbar-title">
    <span translate="sidebar.heading.REPORT">
        REPORT
    </span>
</div>
<ul class="foldersB">
    <li ng-class="{'active open':$state.includes('app.label')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-folder-open">
                    </i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.4label.MAIN">
                        Label
                    </span>
                    <i class="icon-arrow">
                    </i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.label.form_printedlabel">
                    <span class="title" translate="sidebar.nav.4label.PRINTED">
                        PrintedLabel
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.label.form_printlabel">
                    <span class="title" translate="sidebar.nav.4label.NONPRINTED">
                        Non-Printed
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.label.form_labelmanagement">
                    <span class="title" translate="sidebar.nav.4label.LBMANAGE">
                        Label Management
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('app.report')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-folder-open">
                    </i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.report.MAIN">
                        Label
                    </span>
                    <i class="icon-arrow">
                    </i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.report.report_mreport">
                    <span class="title" translate="sidebar.nav.report.MREPORT">
                        Monthly Report
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.report.report_yreport">
                    <span class="title" translate="sidebar.nav.report.YREPORT">
                        Annual Report
                    </span>
                </a>
            </li>
        </ul>
    </li>
</ul>