<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.forms.DURABLE">
        FORM ELEMENTS
    </h4>
    <div class="pull-right" ncy-breadcrumb="">
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div ng-controller="FormDueditCtrl">
                        <form class="gf" id="statusgroup">
                            <fieldset>
                                <legend>
                                    Specimen Data Entry
                                </legend>
                                <div class="gf-row-12 ">
                                    <div class="gf-col-5 gf-col-bg">
                                        <fieldset>
                                            <legend>
                                                ค้นหารายละเอียดครุภัณฑ์
                                            </legend>
                                            <div class="gf-row-4 gf-large">
                                                <div class="gf-col-1" data-column="1">
                                                    <label>
                                                        หมายเลขครุภัณฑ์
                                                    </label>
                                                    <input autofocus="" class="column_filterspec" id="col1_filter" type="text">
                                                    </input>
                                                </div>
                                                <div class="gf-col-1" data-column="2">
                                                    <label>
                                                        รายการครุภัณฑ์
                                                    </label>
                                                    <input autofocus="" class="column_filterspec" id="col2_filter" type="text">
                                                    </input>
                                                </div>
                                                <div class="gf-col-1" data-column="3">
                                                    <label>
                                                        ผู้ใช้
                                                    </label>
                                                    <input autofocus="" class="column_filterspec" id="col3_filter" type="text">
                                                    </input>
                                                </div>
                                                <div class="gf-col-1" data-column="4">
                                                    <label>
                                                        ผู้รับผิดชอบ
                                                    </label>
                                                    <input autofocus="" class="column_filterspec" id="col4_filter" type="text">
                                                    </input>
                                                </div>
                                            </div>
                                            <div class="gf-row-4 gf-large">
                                                <div class="gf-col-1" data-column="5">
                                                    <label>
                                                        ห้องหรือที่เก็บ
                                                    </label>
                                                    <input autofocus="" class="column_filterspec" id="col5_filter" type="text">
                                                    </input>
                                                </div>
                                                <div class="gf-col-1" data-column="6">
                                                    <label>
                                                        สถานที่
                                                    </label>
                                                    <input autofocus="" class="column_filterspec" id="col6_filter" type="text">
                                                    </input>
                                                </div>
                                                <div class="gf-col-1" data-column="7">
                                                    <label>
                                                        ส่วน
                                                    </label>
                                                    <input autofocus="" class="column_filterspec" id="col7_filter" type="text">
                                                    </input>
                                                </div>
                                                <div class="gf-col-1" data-column="8">
                                                    <label>
                                                        สถานะ
                                                    </label>
                                                    <input autofocus="" class="column_filterspec" id="col8_filter" type="text">
                                                    </input>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <form class="gf" id="Dudetail_Form" name="Dudetail_Form">
                                            <fieldset>
                                                <legend>
                                                    แบบฟอร์มแก้ไขรายการ
                                                </legend>
                                                <div class="gf-row-2 gf-large">
                                                    <div class="gf-col-2">
                                                        <div ng-class="{'has-error':Dudetail_Form.durablelist.$dirty && Dudetail_Form.durablelist.$invalid, 'has-success':Dudetail_Form.durablelist.$valid}">
                                                            <label>
                                                                หมายเลขครุภัณฑ์
                                                                <span class="symbol required">
                                                                </span>
                                                            </label>
                                                            <input class="form-control" id="durableno" name="durableno" ng-model="duModeldurableno" placeholder="Enter Durableno" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-2 gf-large">
                                                    <div class="gf-col-2">
                                                        <div ng-class="{'has-error':Dudetail_Form.owner.$dirty && Dudetail_Form.owner.$invalid, 'has-success':Dudetail_Form.owner.$valid}">
                                                            <label>
                                                                ผู้ใช้
                                                                <span class="symbol required">
                                                                </span>
                                                            </label>
                                                            <input class="form-control" id="owner" name="owner" ng-model="duModelOwner" placeholder="Enter Owner Name" type="text" typeahead-loading="loadingOwner" typeahead-no-results="noResults" typeahead-on-select="onSelect($item, $model, $label,$event)" uib-typeahead="o as o.owner for o in OwnerKeyup($viewValue)"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-2 gf-large">
                                                    <div class="gf-col-2">
                                                        <div ng-class="{'has-error':Dudetail_Form.room.$dirty && Dudetail_Form.room.$invalid, 'has-success':Dudetail_Form.room.$valid}">
                                                            <label>
                                                                ห้องหรือที่เก็บ
                                                                <span class="symbol required">
                                                                </span>
                                                            </label>
                                                            <input class="form-control" id="room" name="room" ng-change="changeGenus()" ng-model="duModelRoom" placeholder="Enter Room" type="text" typeahead-loading="loadingRoom" typeahead-no-results="noResults" typeahead-on-select="onSelect($item, $model, $label,$event)" uib-typeahead="o as o.room for o in RoomKeyup($viewValue)"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-2 gf-large">
                                                    <div class="gf-col-2">
                                                        <div ng-class="{'has-error':Dudetail_Form.place.$dirty && Dudetail_Form.place.$invalid, 'has-success':Dudetail_Form.place.$valid}">
                                                            <label>
                                                                สถานที่
                                                                <span class="symbol required">
                                                                </span>
                                                            </label>
                                                            <input class="form-control" id="place" name="place" ng-model="duModelPlace" placeholder="Enter Place" type="text" typeahead-loading="loadingPlace" typeahead-no-results="noResults" typeahead-on-select="onSelect($item, $model, $label,$event)" uib-typeahead="o as o.place for o in PlaceKeyup($viewValue)"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-2 gf-large">
                                                    <div class="gf-col-2">
                                                        <div ng-class="{'has-error':Dudetail_Form.section.$dirty && Dudetail_Form.section.$invalid, 'has-success':Dudetail_Form.section.$valid}">
                                                            <label>
                                                                ส่วน
                                                                <span class="symbol required">
                                                                </span>
                                                            </label>
                                                            <input class="form-control" id="section" name="section" ng-model="duModelSection" placeholder="Enter Section" type="text" typeahead-loading="loadingSection" typeahead-no-results="noResults" typeahead-on-select="onSelect($item, $model, $label,$event)" uib-typeahead="o as o.section for o in SectionKeyup($viewValue)"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gf-row-2 gf-large">
                                                    <div class="gf-col-2">
                                                        <div ng-class="{'has-error':Dudetail_Form.status.$dirty && Dudetail_Form.status.$invalid, 'has-success':Dudetail_Form.status.$valid}">
                                                            <label>
                                                                สถานะ
                                                                <span class="symbol required">
                                                                </span>
                                                            </label>
                                                            <input class="form-control" id="status" name="status" ng-model="duModelStatus" placeholder="Enter Status" type="text" typeahead-loading="loadingStatus" typeahead-no-results="noResults" typeahead-on-select="onSelect($item, $model, $label,$event)" uib-typeahead="o as o.status for o in StatusKeyup($viewValue)"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <a class="btn btn-light-azure btn-xs" href="#" ng-click="DuUpdate('UPDATE',Dudetail_Form);">
                                                    <i class="fa fa-save">
                                                    </i>
                                                    Save
                                                </a>
                                                <a class="btn btn-light-azure btn-xs" href="#" ng-click="resetAllfieldBtn();">
                                                    <i class="fa fa-ban">
                                                    </i>
                                                    Reset Form
                                                </a>
                                                <!--a class="btn btn-light-azure btn-xs" href="#" ng-click="checkalert();">
                                                <i class="fa fa-ban">
                                                </i>
                                                check alert
                                            </a-->
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="gf-col-7 gf-col-bg">
                                        <fieldset>
                                            <legend>
                                                รายการครุภัณฑ์ สำนักวิจัยและอนุรักษ์ ส่วนพิพิธภัณฑ์แมลง
                                            </legend>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>
                                                    </label>
                                                    <table cellspacing="0" class="table compact table-striped table-condensed nowrap " id="DurableListTbl" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Check
                                                                </th>
                                                                <th>
                                                                    หมายเลขครุภัณฑ์
                                                                </th>
                                                                <th>
                                                                    รายการครุภัณฑ์
                                                                </th>
                                                                <th>
                                                                    ผู้ใช้
                                                                </th>
                                                                <th>
                                                                    ผู้รับผิดชอบ
                                                                </th>
                                                                <th>
                                                                    ห้อง
                                                                </th>
                                                                <th>
                                                                    สถานที่
                                                                </th>
                                                                 <th>
                                                                    ส่วน
                                                                </th>
                                                                <th>
                                                                    สถานะ
                                                                </th>

                                                                <th>
                                                                    หมายเหตุ
                                                                </th>
                                                                <th>
                                                                    Edit
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>