<ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>
<h3 class="text-white padding-top-10">In Review</h3>
<table class="table margin-bottom-5">
    <tbody>
        <tr>
            <td><span class="text-white">Multi-slot transclusion</span></td>
            <td>
                <div class="pull-right margin-top-5">
                    <switch ng-model="switchsetting" ng-init="switchsetting = false" tooltip-placement="top" uib-tooltip="Approve" class="light"></switch>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="text-white">Command Line Interface</span></td>
            <td>
                <div class="pull-right margin-top-5">
                    <switch ng-model="switchsetting2" ng-init="switchsetting2 = false" tooltip-placement="top" uib-tooltip="Approve" class="light"></switch>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="text-white">Tools and Training</span></td>
            <td>
                <div class="pull-right margin-top-5">
                    <switch ng-model="switchsetting3" ng-init="switchsetting3 = true" tooltip-placement="top" uib-tooltip="Approve" class="light"></switch>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="text-white">Angular 2 integration</span></td>
            <td>
                <div class="pull-right margin-top-5">
                    <switch ng-model="switchsetting4" ng-init="switchsetting4 = false" tooltip-placement="top" uib-tooltip="Approve" class="light"></switch>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="block text-dark text-center">
    <span class="counter text-bold text-white" count-to="12" value="0" duration="0.4" filter="number">12</span>
    <h4 class="text-uppercase text-white no-margin">Proposal</h4>
    <span class="line-separator line-sm text-white"></span>
    <p class="no-margin">
        <span class="text-white-transparent">Last Month: </span><span class="label background-light text-bold text-dark">16</span>
    </p>
    <!-- /// controller:  'LineCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
</div>
