<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.tables.COLLECTION">Collection List</h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: DYNAMIC TABLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div ng-controller="collectionTblCtrl">
                        <table id="collectionTbl" class="table compact table-striped table-condensed nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Collection No.</th>
                                    <th>Trap</th>
                                    <th>Amphur</th>
                                    <th>Province</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Locality</th>
                                    <th>Specific Locality</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- end: DYNAMIC TABLE -->